hdr {
    /* position: fixed;
    list-style-type: none; */
    /* width: 300px;
    margin: 50;
    padding: 50; */
    color:darkolivegreen;
    /* border: 3px solid #a0aec0; */
    /* right: 0; */
    /* top:0; */
  }